.swiper{

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 122px;
    align-items: center;
  }

  &__close{
    position: absolute;
    right: 0;
    top: 3%;
    cursor: pointer;
  }

  &__photo{
    margin-top: 14%;
    max-height: 620px;
  }

  &__slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__arrow{
    padding: 15px;
    border-radius: 50%;
    transition: all 1s ease;
    cursor: pointer;

    &:hover{
      background-color: #efefef;
      scale: 1.15;
    }
  }

  &__arrow_left{
    transform: rotate(-90deg);
  }

  &__arrow_right{
    transform: rotate(90deg);
  }
}