.phonePage {
  &__container {
    min-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 37px;
  }

  &__nav {
    margin-top: 49px;
    & .navlist {
      list-style: none;
      display: flex;
      gap: 10px;

      &__item {
        position: relative;

    
        &:hover{
            border-bottom: 1px solid #9d9d9d;
            transition: border-bottom 1s ease;

        }
        a {
          text-decoration: none;
          font-family: "Inter";
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 13px;
          letter-spacing: 0.015em;
          color: #000000;
        }

        &:not(:last-child)::after{
            content: '';
            position: absolute;
            background-image: url("../../assets/PhonePage/Nav/nav-after-svg.svg");
            width: 10px;
            height: 7px;
            background-repeat: no-repeat;
            transform: rotate(0deg);
            top: 7px;
            left: 103%;

        }
      }
    }
  }
}
