.App{
    background-color: #fff;
    max-width: 1154px;
    margin: 42px auto 0 auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    margin-bottom: 30px;
    border-radius: 20px;

}